<!DOCTYPE html>
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generated View for Estabelecer Parcerias </title>

	<!-- JQUERY -->
	<script type="text/javascript" src="../../lib/jquery/jquery.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap.min.yeti.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">

		<div class="panel-heading root-panel-heading">
            <!-- Name -->
               <b>Generated View for Estabelecer Parcerias </b>

            <!-- If a View with Viewpoint -->
			   (<span class="i18n-viewpoint-layered"></span>)
			   <a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_layered" target="hint"></a>
            <!-- Or if a model (i.e has Purpose method) -->
		</div>

		<div class="panel-body root-panel-body">
		    <!-- If this is a digram model (has children and no bounds) show the image -->
			   <img class="diagram" src="../images/id-f0a6b85010ab49c9bf7c5fc01b19563a.png" alt="Generated View for Estabelecer Parcerias " usemap="#id-f0a6b85010ab49c9bf7c5fc01b19563amap"/>
			   <map name="id-f0a6b85010ab49c9bf7c5fc01b19563amap">
				  		<area shape="rect" coords="1004,804,1268,914" href="../elements/id-d3a75890cb184646937e80b46062269a.html"  target="element">
				  		<area shape="rect" coords="332,1652,572,1762" href="../elements/id-8d7d814773f340d3bb1c2bc05e03e666.html"  target="element">
				  		<area shape="rect" coords="1436,1334,1676,1444" href="../elements/id-e25bf92f48d84093b0b177c55163a526.html"  target="element">
				  		<area shape="rect" coords="20,1334,260,1444" href="../elements/id-7ddb112bee774032a6f63dcbe1737f54.html"  target="element">
				  		<area shape="rect" coords="332,1334,596,1444" href="../elements/id-dfb272eb037b4cb1a62d82886b576047.html"  target="element">
				  		<area shape="rect" coords="668,1334,956,1444" href="../elements/id-717941e673b946d0aa305b9133011f5e.html"  target="element">
				  		<area shape="rect" coords="500,596,836,1124" href="../elements/id-e0112383e3804d1b96fc8a8277279e23.html"  target="element">
				  		<area shape="rect" coords="1002,620,1268,742" href="../elements/id-f58006d6c102411eade1e46979b9cc8a.html"  target="element">
				  		<area shape="rect" coords="1470,1652,1710,1762" href="../elements/id-8878db04286646aebe8092e013f35478.html"  target="element">
				  		<area shape="rect" coords="2180,1340,2470,1438" href="../elements/id-241e7a62c82e4090afbf15347c68ab01.html"  target="element">
				  		<area shape="rect" coords="1748,1340,2086,1438" href="../elements/id-4b90233a67e24d268a088269837df86e.html"  target="element">
				  		<area shape="rect" coords="1028,1340,1342,1438" href="../elements/id-b77f44d7b031434b9a46f5d0da22e669.html"  target="element">
				  		<area shape="rect" coords="1364,570,1678,1148" href="../elements/id-67469173861c46b9987c7cee2bd6d578.html"  target="element">
				  		<area shape="rect" coords="2108,380,2348,490" href="../elements/id-08c6a9c02e9b4af8bfa3f967b7d7fa93.html"  target="element">
				  		<area shape="rect" coords="2036,20,2324,166" href="../elements/id-0b5b6c622a234c3ab6e8d1959ebfeccb.html"  target="element">
				  		<area shape="rect" coords="1650,140,1890,250" href="../elements/id-862b4659a0f24eab82fc90a1ba5d47fb.html"  target="element">

			   </map>

			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
                    <!-- Purpose / Documentation / Content -->
					   <li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>

                    <!-- Properties -->
                    <li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>

                    <!-- Analysis -->

						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
                    <!-- Model, Query Tab -->
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<div class="convertlinks documentation" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="analysis">
						<table class="table table-striped table-hover table-condensed" id="used-in-views">
							<thead>
								<tr><th colspan="2" class="i18n-used-in-views" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-viewpoint"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
						<table class="table table-striped table-hover table-condensed" id="model-relations">
							<thead>
								<tr><th colspan="4" class="i18n-model-relations" /></tr>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
									<th class="i18n-source"></th>
									<th class="i18n-target"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr>
											    <td> <a href="../elements/id-862b4659a0f24eab82fc90a1ba5d47fb.html" target="element"> Estabelecer Parcerias  </a> </td>
											    <td> <a href="../elements/id-862b4659a0f24eab82fc90a1ba5d47fb.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-0b5b6c622a234c3ab6e8d1959ebfeccb.html" target="element"> Parceiros com Produtos de Qualidade </a> </td>
											    <td> <a href="../elements/id-0b5b6c622a234c3ab6e8d1959ebfeccb.html" target="element" class="i18n-elementtype-Outcome">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-08c6a9c02e9b4af8bfa3f967b7d7fa93.html" target="element"> Tem tudo para Carros </a> </td>
											    <td> <a href="../elements/id-08c6a9c02e9b4af8bfa3f967b7d7fa93.html" target="element" class="i18n-elementtype-ValueStream">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-67469173861c46b9987c7cee2bd6d578.html" target="element"> Gest&#227;o de Parceiros </a> </td>
											    <td> <a href="../elements/id-67469173861c46b9987c7cee2bd6d578.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-b77f44d7b031434b9a46f5d0da22e669.html" target="element"> Selecionar Parceiros por Segmento </a> </td>
											    <td> <a href="../elements/id-b77f44d7b031434b9a46f5d0da22e669.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-4b90233a67e24d268a088269837df86e.html" target="element"> Estabelecer Contrato com Parceiro </a> </td>
											    <td> <a href="../elements/id-4b90233a67e24d268a088269837df86e.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-241e7a62c82e4090afbf15347c68ab01.html" target="element"> Cadastrar Parceiros Homologados </a> </td>
											    <td> <a href="../elements/id-241e7a62c82e4090afbf15347c68ab01.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8878db04286646aebe8092e013f35478.html" target="element"> Comprador </a> </td>
											    <td> <a href="../elements/id-8878db04286646aebe8092e013f35478.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-f58006d6c102411eade1e46979b9cc8a.html" target="element"> Parceiro Homologado </a> </td>
											    <td> <a href="../elements/id-f58006d6c102411eade1e46979b9cc8a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e0112383e3804d1b96fc8a8277279e23.html" target="element"> Planejamento de Compras  </a> </td>
											    <td> <a href="../elements/id-e0112383e3804d1b96fc8a8277279e23.html" target="element" class="i18n-elementtype-Capability">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-717941e673b946d0aa305b9133011f5e.html" target="element"> Cadastrar regras de sele&#231;&#227;o de Parceiros </a> </td>
											    <td> <a href="../elements/id-717941e673b946d0aa305b9133011f5e.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-dfb272eb037b4cb1a62d82886b576047.html" target="element"> Definir regras de sele&#231;&#227;o de Parceiros </a> </td>
											    <td> <a href="../elements/id-dfb272eb037b4cb1a62d82886b576047.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-7ddb112bee774032a6f63dcbe1737f54.html" target="element"> Definir pol&#237;ticas para Parcerias </a> </td>
											    <td> <a href="../elements/id-7ddb112bee774032a6f63dcbe1737f54.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-e25bf92f48d84093b0b177c55163a526.html" target="element"> Homologar Parceiro </a> </td>
											    <td> <a href="../elements/id-e25bf92f48d84093b0b177c55163a526.html" target="element" class="i18n-elementtype-BusinessProcess">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-8d7d814773f340d3bb1c2bc05e03e666.html" target="element"> Gestor Estrat&#233;gico </a> </td>
											    <td> <a href="../elements/id-8d7d814773f340d3bb1c2bc05e03e666.html" target="element" class="i18n-elementtype-BusinessActor">
											    </a> </td>
											</tr>

											<tr>
											    <td> <a href="../elements/id-d3a75890cb184646937e80b46062269a.html" target="element"> Pol&#237;tica de Compras </a> </td>
											    <td> <a href="../elements/id-d3a75890cb184646937e80b46062269a.html" target="element" class="i18n-elementtype-BusinessObject">
											    </a> </td>
											</tr>


								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/id-dd11c2dfdac543b18c2c722f257daffc.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-dd11c2dfdac543b18c2c722f257daffc.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-862b4659a0f24eab82fc90a1ba5d47fb.html" target="element"> Estabelecer Parcerias  </a> </td>
																		<td> <a href="../elements/id-0b5b6c622a234c3ab6e8d1959ebfeccb.html" target="element"> Parceiros com Produtos de Qualidade </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-75d0feb8227d4c9683e0dbfdb1a6c3e3.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75d0feb8227d4c9683e0dbfdb1a6c3e3.html" target="element" class="i18n-elementtype-CompositionRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-08c6a9c02e9b4af8bfa3f967b7d7fa93.html" target="element"> Tem tudo para Carros </a> </td>
																		<td> <a href="../elements/id-862b4659a0f24eab82fc90a1ba5d47fb.html" target="element"> Estabelecer Parcerias  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-2824c850b65e4a5a9186e8035e6317d8.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-2824c850b65e4a5a9186e8035e6317d8.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-67469173861c46b9987c7cee2bd6d578.html" target="element"> Gest&#227;o de Parceiros </a> </td>
																		<td> <a href="../elements/id-862b4659a0f24eab82fc90a1ba5d47fb.html" target="element"> Estabelecer Parcerias  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0ba64abe192046de8fccb4367d631b79.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0ba64abe192046de8fccb4367d631b79.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b77f44d7b031434b9a46f5d0da22e669.html" target="element"> Selecionar Parceiros por Segmento </a> </td>
																		<td> <a href="../elements/id-67469173861c46b9987c7cee2bd6d578.html" target="element"> Gest&#227;o de Parceiros </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e631d0d70b454d899659bd7eb1f2ebd2.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e631d0d70b454d899659bd7eb1f2ebd2.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-b77f44d7b031434b9a46f5d0da22e669.html" target="element"> Selecionar Parceiros por Segmento </a> </td>
																		<td> <a href="../elements/id-e25bf92f48d84093b0b177c55163a526.html" target="element"> Homologar Parceiro </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d6b3ed1f07114bb59f562f94a1d1a861.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d6b3ed1f07114bb59f562f94a1d1a861.html" target="element" class="i18n-elementtype-TriggeringRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4b90233a67e24d268a088269837df86e.html" target="element"> Estabelecer Contrato com Parceiro </a> </td>
																		<td> <a href="../elements/id-241e7a62c82e4090afbf15347c68ab01.html" target="element"> Cadastrar Parceiros Homologados </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-067a0652f3cd4e19bcf3b24e01f1760e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-067a0652f3cd4e19bcf3b24e01f1760e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-4b90233a67e24d268a088269837df86e.html" target="element"> Estabelecer Contrato com Parceiro </a> </td>
																		<td> <a href="../elements/id-67469173861c46b9987c7cee2bd6d578.html" target="element"> Gest&#227;o de Parceiros </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-f5a28f44ec6441b0b49b07374eec69ee.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-f5a28f44ec6441b0b49b07374eec69ee.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-241e7a62c82e4090afbf15347c68ab01.html" target="element"> Cadastrar Parceiros Homologados </a> </td>
																		<td> <a href="../elements/id-67469173861c46b9987c7cee2bd6d578.html" target="element"> Gest&#227;o de Parceiros </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-d21281409ee54f0daf87a0a49b51edc7.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-d21281409ee54f0daf87a0a49b51edc7.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8878db04286646aebe8092e013f35478.html" target="element"> Comprador </a> </td>
																		<td> <a href="../elements/id-4b90233a67e24d268a088269837df86e.html" target="element"> Estabelecer Contrato com Parceiro </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-e9fe4e695bc640a8a76f3f41b8f5d618.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e9fe4e695bc640a8a76f3f41b8f5d618.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8878db04286646aebe8092e013f35478.html" target="element"> Comprador </a> </td>
																		<td> <a href="../elements/id-241e7a62c82e4090afbf15347c68ab01.html" target="element"> Cadastrar Parceiros Homologados </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-7407d043f00f47989a96d5dc2d97bfe1.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-7407d043f00f47989a96d5dc2d97bfe1.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8878db04286646aebe8092e013f35478.html" target="element"> Comprador </a> </td>
																		<td> <a href="../elements/id-b77f44d7b031434b9a46f5d0da22e669.html" target="element"> Selecionar Parceiros por Segmento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-9f18a45a3bb54eef88fbc9898c842acf.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-9f18a45a3bb54eef88fbc9898c842acf.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8878db04286646aebe8092e013f35478.html" target="element"> Comprador </a> </td>
																		<td> <a href="../elements/id-e25bf92f48d84093b0b177c55163a526.html" target="element"> Homologar Parceiro </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-0745ff3598054d428cf8c49f7c23bf31.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-0745ff3598054d428cf8c49f7c23bf31.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-f58006d6c102411eade1e46979b9cc8a.html" target="element"> Parceiro Homologado </a> </td>
																		<td> <a href="../elements/id-67469173861c46b9987c7cee2bd6d578.html" target="element"> Gest&#227;o de Parceiros </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-08098d9a83034ae6a5a98ed3a8dc0e67.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-08098d9a83034ae6a5a98ed3a8dc0e67.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e0112383e3804d1b96fc8a8277279e23.html" target="element"> Planejamento de Compras  </a> </td>
																		<td> <a href="../elements/id-862b4659a0f24eab82fc90a1ba5d47fb.html" target="element"> Estabelecer Parcerias  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-870b455f1ca24c57bded7c5ae9dd8651.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-870b455f1ca24c57bded7c5ae9dd8651.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-717941e673b946d0aa305b9133011f5e.html" target="element"> Cadastrar regras de sele&#231;&#227;o de Parceiros </a> </td>
																		<td> <a href="../elements/id-b77f44d7b031434b9a46f5d0da22e669.html" target="element"> Selecionar Parceiros por Segmento </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-de9ccb31bdbf4d029d0dde0e6e05e53d.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-de9ccb31bdbf4d029d0dde0e6e05e53d.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-717941e673b946d0aa305b9133011f5e.html" target="element"> Cadastrar regras de sele&#231;&#227;o de Parceiros </a> </td>
																		<td> <a href="../elements/id-e0112383e3804d1b96fc8a8277279e23.html" target="element"> Planejamento de Compras  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-75634c56efe74bf09ab1eca06167e3b5.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-75634c56efe74bf09ab1eca06167e3b5.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dfb272eb037b4cb1a62d82886b576047.html" target="element"> Definir regras de sele&#231;&#227;o de Parceiros </a> </td>
																		<td> <a href="../elements/id-717941e673b946d0aa305b9133011f5e.html" target="element"> Cadastrar regras de sele&#231;&#227;o de Parceiros </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-6573b80c15e240a99b40639783bb1027.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-6573b80c15e240a99b40639783bb1027.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-dfb272eb037b4cb1a62d82886b576047.html" target="element"> Definir regras de sele&#231;&#227;o de Parceiros </a> </td>
																		<td> <a href="../elements/id-e0112383e3804d1b96fc8a8277279e23.html" target="element"> Planejamento de Compras  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-4800d8255e414542906b86b930bc6838.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4800d8255e414542906b86b930bc6838.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7ddb112bee774032a6f63dcbe1737f54.html" target="element"> Definir pol&#237;ticas para Parcerias </a> </td>
																		<td> <a href="../elements/id-dfb272eb037b4cb1a62d82886b576047.html" target="element"> Definir regras de sele&#231;&#227;o de Parceiros </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-abfeead21c3341c0b18c617c4e570e12.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-abfeead21c3341c0b18c617c4e570e12.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-7ddb112bee774032a6f63dcbe1737f54.html" target="element"> Definir pol&#237;ticas para Parcerias </a> </td>
																		<td> <a href="../elements/id-e0112383e3804d1b96fc8a8277279e23.html" target="element"> Planejamento de Compras  </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-e432fa47907c4eff97eb9b58c2ba3c74.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-e432fa47907c4eff97eb9b58c2ba3c74.html" target="element" class="i18n-elementtype-FlowRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e25bf92f48d84093b0b177c55163a526.html" target="element"> Homologar Parceiro </a> </td>
																		<td> <a href="../elements/id-4b90233a67e24d268a088269837df86e.html" target="element"> Estabelecer Contrato com Parceiro </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-1621e55ed11b435dbc38978f75d14fea.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-1621e55ed11b435dbc38978f75d14fea.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-e25bf92f48d84093b0b177c55163a526.html" target="element"> Homologar Parceiro </a> </td>
																		<td> <a href="../elements/id-67469173861c46b9987c7cee2bd6d578.html" target="element"> Gest&#227;o de Parceiros </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-8605a4706041496a92ed7a8d37281037.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-8605a4706041496a92ed7a8d37281037.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8d7d814773f340d3bb1c2bc05e03e666.html" target="element"> Gestor Estrat&#233;gico </a> </td>
																		<td> <a href="../elements/id-7ddb112bee774032a6f63dcbe1737f54.html" target="element"> Definir pol&#237;ticas para Parcerias </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-4dce1aa64d144e979c5d2e9c38279229.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-4dce1aa64d144e979c5d2e9c38279229.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8d7d814773f340d3bb1c2bc05e03e666.html" target="element"> Gestor Estrat&#233;gico </a> </td>
																		<td> <a href="../elements/id-dfb272eb037b4cb1a62d82886b576047.html" target="element"> Definir regras de sele&#231;&#227;o de Parceiros </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-a98b13db82ef4d41930ebbe2e558406c.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-a98b13db82ef4d41930ebbe2e558406c.html" target="element" class="i18n-elementtype-AssignmentRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-8d7d814773f340d3bb1c2bc05e03e666.html" target="element"> Gestor Estrat&#233;gico </a> </td>
																		<td> <a href="../elements/id-717941e673b946d0aa305b9133011f5e.html" target="element"> Cadastrar regras de sele&#231;&#227;o de Parceiros </a> </td>
																	</tr>

																	<tr>
																		<td> <a href="../elements/id-45c8f62bfc6e42bd96da90d453494b0e.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-45c8f62bfc6e42bd96da90d453494b0e.html" target="element" class="i18n-elementtype-RealizationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d3a75890cb184646937e80b46062269a.html" target="element"> Pol&#237;tica de Compras </a> </td>
																		<td> <a href="../elements/id-e0112383e3804d1b96fc8a8277279e23.html" target="element"> Planejamento de Compras  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/id-c19ee3d5b3b747989ac4a732de514be4.html" target="element">  </a> </td>
																		<td> <a href="../elements/id-c19ee3d5b3b747989ac4a732de514be4.html" target="element" class="i18n-elementtype-AssociationRelationship">
																		</a> </td>
																		<td> <a href="../elements/id-d3a75890cb184646937e80b46062269a.html" target="element"> Pol&#237;tica de Compras </a> </td>
																		<td> <a href="../elements/id-67469173861c46b9987c7cee2bd6d578.html" target="element"> Gest&#227;o de Parceiros </a> </td>
																	</tr>


								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>